---
import Action from "@/components/Action.astro";
import { ShowCodeComponentReact } from "@/components/react/ShowCodeComponent.react";

interface Props {
  data: {
    title: string;
    subTitle: string;
    primaryCta: string;
    secondaryCta: string;
    highlightedTitle?: string;
  };
}

const { data } = Astro.props;
---

<html>
  <head>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.min.js"
    ></script>
  </head>
  <body>
    <section id="hero-section" class="mt-24 lg:mt-48 h-full">
      <div
        class="hero-section flex justify-between items-center flex-col xl:flex-row"
      >
        <div class="hero-section-content w-full xl:w-1/2 mr-0 lg:mr-4">
          <h1
            class="text-2xl sm:text-3xl text-center font-semibold md:text-6xl"
          >
            {data.title}
            <span class="text-primary"> {data.highlightedTitle} </span>
          </h1>
          <h2 class="mt-10 text-lg text-center opacity-80 md:text-2xl">
            {data.subTitle}
          </h2>
          <div class="hero-button flex justify-center mt-10 mb-6 xl:mb-0">
            <Action
              as="a"
              type="button"
              class="bg-black text-white"
              href="https://app.crawlora.com"
              target="_blank"
            >
              {data.primaryCta}
            </Action>
            <Action
              as="a"
              class="bg-transparent text-black ml-2 md:ml-6 border border-black"
              type="button"
              href="#price-section"
            >
              {data.secondaryCta}
            </Action>
          </div>
        </div>
       <ShowCodeComponentReact client:only="react" />
      </div>

      <div class="flex justify-center mb-6">
        <Action
          as="a"
          class="flex justify-center items-center animate-bounce border-2 border-transparent bg-primary text-white rounded-full w-14 h-14 mt-32 hover:bg-white hover:text-primary hover:border-primary transition"
          href="#services-section"
          title="arrow down icon"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-8 h-8"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M19.5 13.5 12 21m0 0-7.5-7.5M12 21V3"></path>
          </svg>
        </Action>
      </div>
    </section>
  </body>
</html>
